.DS_Store
phpcs.xml
phpunit.xml
Thumbs.db
wp-cli.local.yml
node_modules/
*.sql
*.tar.gz
*.zip

.cursor

# ref: https://github.com/github/gitignore/blob/master/Composer.gitignore
composer.phar
/vendor/
/vendor_non_repo/

# ignore config.php file, may contain api keys 
config.php

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock

# phplint tool creates cache file which is not necessary in a codebase
/.phplint-cache

# Do not commit local PHPUnit config
/phpunit.xml
/.phpunit.result.cache

# Do not commit local PHP_CodeSniffer config
/phpcs.xml

# Application config may contain sensitive data
/config/**/*.*
!/config/.htaccess
!/config/dev/default.inc.php
!/config/prod/default.inc.php

# Docs folders
/.phpdoc
/.phpdoc/**/*.*
/docs
/docs/.cache/
/docs/.cache/**/*.*
/public/docs/**/*.*
/public/.phpdoc
/public/.phpdoc/**/*.*

# Exclude example .html files
/public/assets/hyper/

# Logs folder
/logs/**/*.*
!/logs/.htaccess

# test logs...
/tests/log_*.*
